ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=https://localhost:7001;http://localhost:5001
JWT_SECRET_KEY=your_super_secret_key_here
QWEN_API_KEY=your_qwen_api_key
SENDGRID_API_KEY=your_sendgrid_key
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
